<!-- <hr>
<h3 style="color:#DDDCDB">Bridge Group Status Tables:</h3>
{% for _bridge, _bridge_data in _table.iteritems() %} -->
<!-- <table style="width:100%; font: 10pt arial, sans-serif">
    <colgroup>
        <col style="width: 10%" />
        <col style="width: 5%"  />
        <col style="width: 5%"  />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
    </colgroup>
    <h4>Conference Bridge: {{ _bridge }}</h4>
    <tr style="width:100%; font: 10pt arial, sans-serif; background-color:#666666; color:white">
        <th>System</th>
        <th>Slot</th>
        <th>TGID</th>
        <th>Status</th>
        <th>Timeout</th>
        <th>Timeout Action</th>
        <th>Connect TGIDs</th>
        <th>Disconnect TGIDs</th>
    </tr>
    {% for system, _system_data in _table[_bridge].iteritems() %}
    <tr>
        <td>{{ system }}</td>
        <td>{{ _table[_bridge][system]['TS'] }}</td>
        <td>{{ _table[_bridge][system]['TGID'] }}</td>
        <td style="background-color:{{ _table[_bridge][system]['COLOR'] }}">{{ _table[_bridge][system]['ACTIVE'] }}</td>
        <td>{{ _table[_bridge][system]['EXP_TIME'] }}</td>
        <td>{{ _table[_bridge][system]['TO_ACTION'] }}</td>
        <td>{{ _table[_bridge][system]['TRIG_ON'] }}</td>
        <td>{{ _table[_bridge][system]['TRIG_OFF'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
<hr>
<h3 class="color_blanco_14">Si hablamos por el TG2149 salimos por los HBlink siguientes:</h3> -->

<!-- <table style="width:100%; font: 10pt arial, sans-serif">
    <colgroup>
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
    </colgroup>
    <tr style="width:100%; font: 10pt arial, sans-serif; background-color:#188BDB; color:white">
        <th><a href="http://23.226.136.190:8080/" class="color_blanco_12">EA2IP</a></th>
        <th><a class="color_blanco_12" href="http://ea4gax.ddns.net:8088/">EA4GAX</a></th>
        <th><a class="color_blanco_12" href="http://ea5sw.ddns.net:8081/">EA5SW</a></th>
        <th><a class="color_blanco_12" href="http://hblinkspain.duckdns.org:8080/">EA5GVK</a></th>
    </tr>
</table> -->